.content_wrapper {
	margin: 0 auto;
	max-width: 1024px;
}
.code_block {
	min-height: 580px;
	position: relative;
	overflow: hidden;
}
pre {
	background-color: #333333;
  font: normal 12px/14px Monaco, Monospace;
  color: #cccccc;
  position: absolute;
  left: -230px;
  padding: 5px;
}
